.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.counterClass {
  display: inline;
  padding: 0 10px;
}

.formContainer  {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.searchInput {
  opacity: 30%;
  height: 50px;
  width: 60%;
}
.searchInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* color: #FFFFFF; */
  opacity: 0.6; 
}
.searchInput::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0.6; 
  /* color: #FFFFFF; */
 }
.buttonContainerClass{
  padding: 0 10px;
  width: 15%;
}

.container {
  background: #080707;
  height: 100%;
  color: #FFFFFF;
}

.buttonClass{
  width: 100%;
  height: 52px;
}
/* .movieListStyle{
  display: flex;
  justify-content: center;
} */

.highlightClass{
  color: red;
}

.deHighlightClass{
  color: #FFFFFF;
}
